.button-component {
  background-color: blueviolet;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  border: solid 1px black;
}

.button-component:active {
  background-color: darkviolet;
  transition: background-color 0.1s ease-in-out;
}
