/*----Application Setup----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px){
  #root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
  }
}

.App {
  width: 100%;
  height: 100%;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  }

  @media (min-width: 500px){
    .App {
      margin: 0 15%; 
      border: 1px solid lightgray; 
      /*border-radius: 20px; */
      }
  }
/*-----------------------------------------------------*/

/*----General Components----*/

.h1Gray {
  font-family: "Segoe UI";
  font-size: 25px;
  color: #818181;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

  @media (min-width: 500px) {
    .h1Gray{
    font-size: 40px;
    }
  }

  @media (min-width: 860px){
    .h1Gray{
      font-size: 45px; 
    }
  }

  .inputTitle {
    font-size: 18px; 
    font-family: "Segoe UI";
    color: #818181;
    margin-top: 20px;
    margin-left: 43px; 
    margin-right: auto;
  }
  
  @media (min-width: 500px){
    .inputTitle{
      font-size: 26px; 
    }
  }
  
  @media (min-width: 860px){
    .inputTitle{
      font-size: 31px; 
      margin-left: 48px; 
    }
  }
  
  input {
    font-size: 18px;
    width: 80%; 
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10%;
    margin-left: 32px;
    margin-right: auto; 
    padding-top: 10px; 
    padding-left: 10px; 
    padding-bottom: 10px; 
    font-family: "Segoe UI";
  }
  
  @media (min-width: 500px){
    input{
      font-size: 25px; 
      margin-left: 42px; 
    }
  }

  button {
    background-color: #2d5fad;
    color: white;
    border-color: gray;
    font-family: "Segoe UI";
    font-size: 18px;
    width: 80%;
    margin-left: 32px;
    margin-bottom: 10px;
    margin-right: auto; 
    padding: 10px 0px; 
    border-radius: 10px;
  }
  
  @media (min-width: 500px){
    button{
      margin-left: 42px; 
    }
  }

  .errorMessage {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hyperLink {
    margin-top: 20px;
    font-family: "Segoe UI";
    color: #0e90c1;
  }
  
  @media (min-width: 500px){
    .hyperLink{
      margin-bottom: 20px; 
    }
  }
/*-----------------------------------------------------*/


/*----Header Component for Login, Signup, RecPass----*/

.staticHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media (min-width: 500px){
  .staticHeader{
  height: 225px;
  border: 1px solid lightgray;
  }
}

.headerImage {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}
/*-----------------------------------------------------*/


/*----Login Scene----*/ 

.loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -10px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
}

@media (min-width: 500px){
  .loginSection{
    border-radius: 18px; 
    margin-top: -30px; 
  }
}

.loginForm {
  width: 100%;
  align-self: flex-start;  
}

.inputPass {
  font-size: 18px;
  width: 80%; 
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-left: 32px;
  margin-right: auto; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
  font-family: "Segoe UI";
}

@media (min-width: 500px){
  .inputPass{
    font-size: 25px; 
    margin-left: 42px; 
  }
}

.forgotPassword {
  margin-left: 56%;
  font-family: "Segoe UI";
  color: #0e90c1;
  margin-bottom: 100px;
}

@media (min-width: 500px){
  .forgotPassword{
    margin-left: 60%; 
  }
}

@media (min-width: 860px){
  .forgotPassword{
    margin-left: 67%; 
  }
}

.createAccount {
  margin-top: 50px; 
  margin-bottom: 100px;
  margin-left: 36%; 
  margin-right: auto; 
  font-family: "Segoe UI";
  color: #0e90c1;
}

@media (min-width: 500px){
  .createAccount{
   margin-left: 38.5%;
 
  }
}

@media (min-width: 860px){
  .createAccount{
    margin-left: 39.5%;
  }
}

.login{
  margin-top: 20px; 
  margin-bottom: 20px;
  margin-left: 44%; 
  margin-right: auto;
  font-family: "Segoe UI";
  color: #0e90c1;
}
/*-----------------------------------------------------*/


/*----Signup Scene----*/

.signupSection {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
}

.signupForm {
  width: 100%; 
  align-self: flex-start;
}

.dropDown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  font-family: 'Segoe UI';
  width: 82%;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10%;
  margin-left: 32px;
  margin-right: auto; 
}

@media (min-width: 500px){
  .dropDown{
    margin-left: 42px; 
    font-size: 25px;
    border-radius: 5px; 
  }
}

.instructions {
  font-size: 1rem;
  font-family: "Segoe UI";
  border-radius: 0.5rem;
  background: #444444;
  width: 80%;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: 55px;
  margin-left: 32px; 
}

@media (min-width: 500px){
  .instructions{
    margin-left: 40px; 
    font-size: 18px; 
  }
}

.instructions > svg {
  margin-right: 0.25rem;
}
/*-----------------------------------------------------*/

/*----Recover Password Scene----*/

.RecPassSection {
  width: 100%;
  height: 651px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
}

.h1RecPass{
  font-family: "Segoe UI";
  font-size: 25px;
  color: #818181;
  margin-top: 40px;
  margin-bottom: 75px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

  @media (min-width: 500px) {
    .h1RecPass{
    font-size: 40px;
    }
  }

  @media (min-width: 860px){
    .h1RecPass{
      font-size: 45px; 
    }
  }

  .inputRecEmail {
    font-size: 18px;
    width: 80%; 
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 150px; 
    margin-left: 32px;
    margin-right: auto; 
    padding-top: 10px; 
    padding-left: 10px; 
    padding-bottom: 10px; 
    font-family: "Segoe UI";
  }
  
  @media (min-width: 500px){
    .inputRecEmail{
      margin-left: 42px;
    }
  }
/*-----------------------------------------------------*/

/*----Home Scene----*/

.HomeSection{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  background-image: url(../Styles/HomePageBackground2.png); 
  background-position: center; 
  background-size: cover; 
}

.homeGray {
  font-family: "Segoe UI";
  font-size: 45px;
  color: #818181;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

.paymentBalanceBlock{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-content: center; 
  background-color: #234281;
  color: white;
  border-color: gray;
  width: 80%;
  margin-left: auto;
  margin-bottom: 75px;
  margin-right: auto; 
  margin-top: 25px; 
  border-radius: 10px; 
}

.utilitiesBalanceBlock{
 background-color:#EEEEEE;
 color: darkslategray;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 25px;
  margin-right: auto; 
  padding: 15px 0px 30px; 
  border-radius: 10px;
  align-self: flex-start; 
}

/*Used in Home Scene and Documents Scene*/
.documentsBlock{
  background-color:#EEEEEE;
  color: darkslategray;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto; 
  padding: 15px 0px 15px; 
  border-radius: 10px;
  align-self: flex-start; 
}

.issuesBlock{
  background-color:#EEEEEE;
  color: darkslategray;
   border-color: gray;
   font-family: "Segoe UI";
   font-size: 18px;
   width: 80%;
   margin-left: auto;
   margin-bottom: 25px;
   margin-right: auto; 
   padding: 15px 0px 30px; 
   border-radius: 10px;
}

.subBlock{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  width: 100%
}

.moreButton{
  background-color: #CFCFCF;
  color: #2d5fad;
  font-family: "Segoe UI";
  font-size: 12px;
  flex-basis: 80px;
  margin-right: 20px; 
  margin-bottom: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
}

.balanceMarker{
  background-color: #B9EBB5;
  color: #009A1A;
  font-family: "Segoe UI";
  font-size: 12px;
  flex-basis: 40px;
  margin-right: 20px; 
  padding: 10px; 
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
  text-align: center; 
}

.statusMarker{
  background-color: #F3BFBF;
  color: #9C0000;
  font-family: "Segoe UI";
  font-size: 12px;
  flex-basis: 60px;
  text-align: center; 
  margin-right: 20px; 
  padding: 10px;
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
}

.balanceTitle{
  font-size: 18px; 
  font-family: "Segoe UI";
  padding: 5px; 
  margin-top: 10px; 
  text-align: center; 
}

.balanceAmount{
  font-size: 30px; 
  font-family: "Segoe UI";
  padding: 5px; 
  text-align: center; 
}

.balanceReport{
  font-size: 15px; 
  font-family: "Segoe UI";
  padding: 5px; 
  margin-bottom: 10px;
  text-align: center; 
}

.blockTitle{
  font-size: 12px; 
  font-family: "Segoe UI";
  margin-left: 15px;
}

.blockInfo{
  font-size: 18px; 
  font-family: "Segoe UI";
  margin-left: 15px;
  margin-top: 5px; 
}

.viewMore{
  margin-top: 20px; 
  margin-bottom: 20px;
  margin-left: 32px; 
  margin-right: auto;
  font-family: "Segoe UI";
  color: #0e90c1;
}
/*-----------------------------------------------------*/



/*----Documents Scene----*/

.documentSection{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F5F5F5;
  box-shadow: 0px -8px 12px -5px gray;
  background-position: center; 
  background-size: cover; 
}

.documentHeader {
  font-family: "Segoe UI";
  font-size: 25px;
  color: #818181;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

@media (min-width: 500px){
.documentHeader {
  font-size: 45px;
  }
}

.document {
  background-color:#FFFFFF;
  color: darkslategray;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto; 
  padding: 15px 0px 15px; 
  border-radius: 10px;
  align-self: flex-start; 
}

@media (min-width: 860px){
  .document{
    margin-left: 43px; 
    width: 90%;
  }
}

  .documentButton{
    background-color: #CFCFCF;
    color: #2d5fad;
    font-family: "Segoe UI";
    font-size: 12px;
    width: 100px; 
    margin-top: 20px; 
    margin-left: 15px; 
    margin-right: 20px; 
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 10px;
    border-color: none; 
    border-style: hidden; 
  }
/*-----------------------------------------------------*/

/*----Payment History Scene----*/


.paymentHistorySection{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F5F5F5;
  box-shadow: 0px -8px 12px -5px gray;
  background-position: center; 
  background-size: cover; 
}

.paymentHistoryHeader {

  font-family: "Segoe UI";
  font-size: 25px;
  color: #818181;
  margin-top: 45px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start;

}

.paymentHeader{
  font-family: "Segoe UI";
  font-size: 18px;
  color: #818181;
  margin-top: 20px;
  margin-bottom: 45px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start;
}

.payment{
 
  background-color: #EEEEEE;
  color: darkslategray;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto; 
  padding: 15px 0px 15px; 
  border-radius: 10px;

}

.morePayment{
  background-color: #CFCFCF;
  color: #2d5fad;
  font-family: "Segoe UI";
  font-size: 12px;
  width: 80px;
  margin-left: 45px;    
  margin-right: 15px; 
  margin-bottom: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
 
}

@media (min-width: 860px) {
  .morePayment{
    margin-left: 550px; 
    margin-top: -405px; 
  }
}

/*-----------------------------------------------------*/


