* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px){
  #root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
  }
}


.App {
  width: 100%;
  height: 100%;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  }

  @media (min-width: 500px){
    .App {
      margin: 15% 20%; 
      border: 1px solid lightgray; 
      /*border-radius: 20px; */
      }
  }

.staticHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media (min-width: 500px){
  .staticHeader{
  height: 225px;
  border: 1px solid lightgray;
  border-radius: 20px;
  }
}

.headerImage {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

@media (min-width: 500px){
  .headerImage {
  border-radius: 18px; 
}
}

.loginSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -10px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
}

@media (min-width: 500px){
  .loginSection{
    border-radius: 18px; 
    margin-top: -30px; 
  }
 
}

.h1Gray {
  font-family: "Segoe UI";
  font-size: 25px;
  color: #818181;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

  @media (min-width: 500px) {
    .h1Gray{
    font-size: 40px;
    }
  }

  @media (min-width: 860px){
    .h1Gray{
      font-size: 45px; 
    }
  }

  .h1RecPass{
    font-family: "Segoe UI";
    font-size: 25px;
    color: #818181;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Segoe UI";
    margin-left: 43px;
    margin-right: auto;   
    align-self: flex-start; 
    }

    @media (min-width: 500px) {
      .h1RecPass{
      font-size: 40px;
      }
    }
  
    @media (min-width: 860px){
      .h1RecPass{
        font-size: 45px; 
      }
    }

.loginForm {
  width: 100%;
  align-self: flex-start;  
}

.signupSection {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
 
}

.signupForm {
  width: 100%; 
  align-self: flex-start;
}

.RecPassSection {
  width: 100%;
  height: 651px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: -20px;
}

.HomeSection{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -8px 12px -5px gray;
  border-radius: 10px;
  background-image: url(../Styles/HomePageBackground2.png); 
  background-position: center; 
  background-size: cover; 
}

.inputTitle {
  font-size: 18px; 
  font-family: "Segoe UI";
  color: #818181;
  margin-top: 20px;
  margin-left: 43px; 
  margin-right: auto;
}

@media (min-width: 500px){
  .inputTitle{
    font-size: 26px; 
  }
}

@media (min-width: 860px){
  .inputTitle{
    font-size: 31px; 
    margin-left: 48px; 
  }
}


input {
  font-size: 18px;
  width: 80%; 
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10%;
  margin-left: 32px;
  margin-right: auto; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
  font-family: "Segoe UI";
}

@media (min-width: 500px){
  input{
    font-size: 25px; 
    margin-left: 42px; 
  }
}


.inputPass {
  font-size: 18px;
  width: 80%; 
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-left: 32px;
  margin-right: auto; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
  font-family: "Segoe UI";
}

@media (min-width: 500px){
  .inputPass{
    font-size: 25px; 
    margin-left: 42px; 
  }
}

.inputRecEmail {
  font-size: 18px;
  width: 80%; 
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 150px; 
  margin-left: 32px;
  margin-right: auto; 
  padding-top: 10px; 
  padding-left: 10px; 
  padding-bottom: 10px; 
  font-family: "Segoe UI";
}

@media (min-width: 500px){
  .inputRecEmail{
    margin-left: 42px;
  }
}

.dropDown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  font-family: 'Segoe UI';
  width: 82%;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10%;
  margin-left: 32px;
  margin-right: auto; 
}

@media (min-width: 500px){
  .dropDown{
    margin-left: 42px; 
    font-size: 25px;
    border-radius: 5px; 
  }
}

button {
  background-color: #2d5fad;
  color: white;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: 32px;
  margin-bottom: 10px;
  margin-right: auto; 
  padding: 10px 0px; 
  border-radius: 10px;
}

@media (min-width: 500px){
  button{
    margin-left: 42px; 
  }
}

.homeGray {
  font-family: "Segoe UI";
  font-size: 45px;
  color: #818181;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  margin-left: 43px;
  margin-right: auto;   
  align-self: flex-start; 
  }

.paymentBalanceBlock{
  background-color: #234281;
  color: white;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 75px;
  margin-right: auto; 
  margin-top: 25px; 
  padding: 30px 0px; 
  border-radius: 10px;
  
}

.utilitiesBalanceBlock{
 background-color:#EEEEEE;
 color: darkslategray;
  border-color: gray;
  font-family: "Segoe UI";
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-bottom: 25px;
  margin-right: auto; 
  padding: 15px 0px 30px; 
  border-radius: 10px;
  align-self: flex-start; 
}

.documentsBlock{
  background-color:#EEEEEE;
  color: darkslategray;
   border-color: gray;
   font-family: "Segoe UI";
   font-size: 18px;
   width: 80%;
   margin-left: auto;
   margin-bottom: 10px;
   margin-right: auto; 
   padding: 15px 0px 15px; 
   border-radius: 10px;
   align-self: flex-start; 
}

.issuesBlock{
  background-color:#EEEEEE;
  color: darkslategray;
   border-color: gray;
   font-family: "Segoe UI";
   font-size: 18px;
   width: 80%;
   margin-left: auto;
   margin-bottom: 25px;
   margin-right: auto; 
   padding: 15px 0px 30px; 
   border-radius: 10px;
   align-self: flex-start; 
}

.moreButton{
  background-color: #CFCFCF;
  color: #2d5fad;
  font-family: "Segoe UI";
  font-size: 12px;
  width: 80px;
 
  margin-bottom: 10px;
  margin-right: 1px; 
  padding: 10px 0px;
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
}

.balanceMarker{
  background-color: #B9EBB5;
  color: #009A1A;
  font-family: "Segoe UI";
  font-size: 12px;
  width: 80px;
  margin-right: 1px; 
  padding: 10px; 
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
}

.statusMarker{
  background-color: #F3BFBF;
  color: #9C0000;
  font-family: "Segoe UI";
  font-size: 12px;
  width: 80px;
  margin-bottom: 10px;
  margin-right: 1px; 
  margin-left: 35px; 
  padding: 10px;
  border-radius: 10px;
  border-color: none; 
  border-style: hidden; 
}

.balanceTitle{
  font-size: 18px; 
  font-family: "Segoe UI";
  padding: 5px; 
  margin-left: 230px;
  margin-bottom: 10px;
  margin-right: auto; 
}

.balanceAmount{
  font-size: 30px; 
  font-family: "Segoe UI";
  padding: 5px; 
  margin-left: 170px;
  margin-bottom: 10px;
  margin-right: auto; 
 
}

.balanceReport{
  font-size: 15px; 
  font-family: "Segoe UI";
  padding: 5px; 
  margin-left: 230px;
  margin-bottom: 10px;
  margin-right: auto; 
}

.blockTitle{
  font-size: 12px; 
  font-family: "Segoe UI";
  margin-left: 15px;
  

}
.blockInfo{
  font-size: 18px; 
  font-family: "Segoe UI";
  margin-left: 15px;
  margin-top: 25px; 
  margin-right: 275px; 
}

.forgotPassword {
  margin-left: 56%;
  font-family: "Segoe UI";
  color: #0e90c1;
  margin-bottom: 100px;
}

@media (min-width: 500px){
  .forgotPassword{
    margin-left: 60%; 
  }
}

@media (min-width: 860px){
  .forgotPassword{
    margin-left: 67%; 
  }
}

.viewMore{
  margin-top: 20px; 
  margin-bottom: 20px;
  margin-left: 32px; 
  margin-right: auto;
  font-family: "Segoe UI";
  color: #0e90c1;
}

.createAccount {
  margin-top: 50px; 
  margin-bottom: 100px;
  margin-left: 36%; 
  margin-right: auto; 
  font-family: "Segoe UI";
  color: #0e90c1;
}

@media (min-width: 500px){
  .createAccount{
   margin-left: 38.5%;
 
  }
}

@media (min-width: 860px){
  .createAccount{
    margin-left: 39.5%;
  }
}

.login{
  margin-top: 20px; 
  margin-bottom: 20px;
  margin-left: 44%; 
  margin-right: auto;
  font-family: "Segoe UI";
  color: #0e90c1;
}

.hyperLink {
  margin-top: 20px;
  font-family: "Segoe UI";
  color: #0e90c1;
}

@media (min-width: 500px){
  .hyperLink{
    margin-bottom: 20px; 
  }
}

.instructions {
  font-size: 1rem;
  font-family: "Segoe UI";
  border-radius: 0.5rem;
  background: #444444;
  width: 80%;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: 55px;
  margin-left: 32px; 
}

@media (min-width: 500px){
  .instructions{
    margin-left: 40px; 
    font-size: 18px; 
  }
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errorMessage {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
