*{

    margin: 0;
    padding: 0; 
    box-sizing: border-box;

}

.App{

    width: 100%;
    max-width: 800px;
    height: 250vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #333;
    box-shadow: 0px 0px 15px gray;

}

#root {

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

  }


.staticHeader{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.headerImage{

    width: 100%;
    height: auto;
    border-radius: 10px;  
    
}

.loginSection{

  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -5px 10px 0px gray;
  background-color: #F5F5F5;
  border-radius: 10px; 
  padding: 20px; 
  padding-left: 75px; 

}

.h1Gray{
    
    font-size: 3rem;
    color: #818181; 
    margin-top: 40px;
    margin-bottom: 50px;  
    align-self: flex-start;
    font-family: 'Segoe UI';

}
.loginForm{
    
    align-self: flex-start;
    
}

.signupSection{

    width: 100%;
    height: 200vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px -5px 10px 0px gray;
    background-color: #F5F5F5;
    border-radius: 10px; 
    padding: 20px; 
    padding-left: 75px; 
}

.signupForm{

    align-self: flex-start; 

}

.inputTitle{

    font-size: 2rem;
    font-family: 'Segoe UI';
    margin-right: 500px; 
    color: #818181;
    margin-top: 20px; 

}

input{

    font-size: 1.5rem;
    width: 90%;
    border-radius: 9px;
    border: 1px solid;  
    border-color: gray; 
    margin: 20px;
    margin-top: 10px; 
    margin-bottom: 60px; 
    margin-left: 0;
    padding: 5px; 
    font-family: 'Segoe UI';
    
}

.dropDown{

    font-size: 1.5rem;
    width: 90%;
    border-radius: 9px;
    margin: 20px;
    margin-top: 10px; 
    margin-bottom: 60px; 
    margin-left: 0;
    padding: 5px; 
    font-family: 'Segoe UI';
}


.inputPass{

    font-size: 1.5rem;
    width: 90%;
    border-radius: 9px; 
    border: 1px; 
    margin: 20px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 0;
    padding: 5px; 
    font-family: 'Segoe UI';

}

.forgotPassword{

    margin-left: 70%;
    font-family: 'Segoe UI';
    color: #0E90C1;
    margin-bottom: 100px; 

}

button{

    background-color: #2d5fad;
    color: white; 
    font-family: 'Segoe UI'; 
    font-size: 1.5rem;
    width: 500px; 
    margin-left: 55px;
    margin-bottom: 5px; 
    padding: 8px;
    border-radius: 9px; 
    
}

.createAccount{

    margin: 20px; 
    margin-right: 100px; 
    font-family: Arial;
    color: #0E90C1;

}